

body {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;   
}

.width {
    width: 755px;
    margin: 0 auto;
    margin-top: 15px;
}

h2 {
    font-family: 'Markazi Text';
    font-size: 38px;
    font-weight: 400;
    line-height: 35px;
    margin-top: 0px;
    margin-bottom: 7px;
}

h2::after {
    content: url(./img/wave.png);
}

div.width > div {
    display: flex;
    flex-direction: row;
}

div img {
    width: 140px;
    height: 95px;
    margin-right: 20px;
}

div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

div:nth-child(2) p:nth-child(1) {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(135, 145, 48);
}

div:nth-child(2) p:nth-child(2) {
    margin-bottom: 40px;
    margin-top: 5px;
    font-size: 18px;
    line-height: 22px;
}

div:nth-child(2) span:nth-child(1) {
    font-family: 'Markazi Text';
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    color: #B88F3F;
}

div:nth-child(2) span:nth-child(2) {
    font-family: 'Markazi Text';
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;
    color: rgb(135, 145, 48);
}

div:nth-child(2) p {
    overflow: hidden;
}

div:nth-child(2) p:first-of-type::after {
    content: '...................................................................................................................................................................';
    display: block;
    overflow: hidden;
    font-size: 10px;
    line-height: 42px;
}

div:nth-child(2) p span:first-of-type {
    float: left;
    margin-right: 10px;
}

div:nth-child(2) p span:last-of-type {
    float: right;
    margin-left: 10px;
}

div:nth-child(2) p span:last-of-type::first-letter {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}